* {
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  background-color: #1e5e77;
  overflow: auto;
  line-height: 50px;
}

.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: black;
}

.active {
  background-color: slategrey;
}



}
.formbox2{
  
  width:100%;
  height: 100%;
  padding:2% 10%;
  
  background:white;
  
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.complaint {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  position:relative;
  left:15%;
}

.complaint td, .complaint th {
  border: 1px solid #ddd;
  padding: 8px;
}
.complaint tr:nth-child(even){background-color: #f2f2f2;}

.complaint tr:hover {background-color: #ddd;}

.complaint th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
#filter-category {
  padding: 5%;
  border-color: lawngreen;
  border-radius: 5px;
  border-width: 2px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  background-color: #f2f2f2;
  margin:0%;
  background-color: ;
  width:100%; !important;
 }

h3{
  margin-top: 1px;
  text-align:center;
  font-size:30px;
  color: black;
}

.welcome-txt {
  font-size: 20px;
  color: white;
  padding-top:3%;
  margin: 0px;
}
.dbms{
  font-size: 20px;
  border:1px;
  box-shadow:5px 10px 8px #888888;
}

.formbox1{
align-items: center;
width:100%;
height: 800px;
padding:1% 30%;
box-sizing: border-box;
background:white;
box-shadow:1px 10px 40px rgba(0,0,0,.5);

}


.ds{
background-color: #4caf50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 40%;
margin-left:200px;
}
.ca{

  border:1px;
  box-shadow: 5px 10px 8px #888888;

}
.formbox3{
align-items: center;
width:100%;
height: 800px;
padding: 5% 30%;
box-sizing: border-box;
background:white;
box-shadow:1px 10px 40px rgba(0,0,0,.5);
}
.title1{
text-align:center;
padding:0px 0 20px;
font-size:200%;
}
.title2{
text-align:center;
padding:0px 0 20px;
font-size:200%;
}


.formbox-cng-pass{
align-items: center;
width:100%;
height: 100%;
padding: 5%;
box-sizing: border-box;
background:white;
box-shadow:1px 10px 40px rgba(0,0,0,.5);

}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}




.cng-pass-btn{
  font-size: 17px;
  padding: 2% 0%;
  margin-left: 60%;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

@media print {
.example-screen {
   display: none;
}
.update-button{
  display:none;
}
}

.footer{
  position: absolute;
  left:0;
  bottom:0;
  text-align: center;
  margin: 0% 40%;
  color: black;
}

.footer-adm{
  position: relative;
  left:0;
  bottom:0;
  text-align: center;
  margin: 0% 40%;
  color: black;
}

.container1
{
border-radius: 10px;
width:100%;
height: 60%;
background:white;
margin:0 auto;
border:2px solid #fff;
box-shadow:0 0px 40px rgba(250,250,250,0);

}

.right1{
font-size: 20px;
float:right;
width: 50%;
padding-left: 5%;
padding-top: 2%;
}
.user_{
float: left;
}
textarea{
font-weight: bold;
font-family: sans-serif;
border:none;
resize: none;

}
#print-btn {
font-size: 22px;
width:15%;
margin-left: -14%;
margin-top: 1%;
!important;
}
.update-button {
font-size: 22px;
width:30%;
margin-left: 10%;
!important;
}

input{
font-weight: bold;
font-size:medium ;
font-family: sans-serif;
border:none;
}
.co{
font-size: 20px;
float:left;
width: 50%;
padding-left: 5%;
padding-top:2%;
}
.right{
font-size: 20px;
float:right;
width: 50%;
padding-left: 5%;
padding-top: 2%;
}
.user_{
float: left;
}
input[type=text]{
border:none;
}

#complaint_counts{
  text-align: center;
}