{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Complaint Tracking System{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% block css %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}"> {% endblock %}
</head>

<body>
    <div class="navbar">
        <a href="{% url 'logout' %}"><i class="fa fa-fw fa-user"></i> Logout</a>
        <a href="{% url 'change-password' %}" class="{{ password_header }}"><i class="fa fa-gear"></i> Change Password</a> {% if request.user.profile.is_admin %}
        <a href="{% url 'admin_complaints_view' %}" class="{{ home_header }}"><i class="fa fa-fw fa-home"></i> Home</a>
        <span class="welcome-txt">Welcome Admin!!</span> {% else %}
        <a href="{% url 'register_complaint' %}" class="{{ register_header }}"><i class="fa fa-fw fa-envelope"></i> Register</a>

        <a href="{% url 'user_complaints_view' %}" class="{{ home_header }}"><i class="fa fa-fw fa-home"></i> Home</a>
        <span class="welcome-txt">Welcome {{ request.user.username }}!!</span> {% endif %}

    </div>

    {% block content %} {% endblock %} {% block footer %}
    <div class="footer">
        <p>&copy;Copyrights Majd Albaho.</p>
    </div>
    {% endblock %}

</body>

</html>