{% extends 'complaint/base.html' %}
{% block title %} Login : CTS{% endblock %}
{% block content %}
	<div class="container">
		<div class="left"></div>
		<div class="right" style="margin-right: 25%;"><br><br>
			<div class="formbox-cng-pass">
				<form method="post" action="{% url 'change-password' %}">
                    {% csrf_token %}
					<p><b>Old password</p>
                    <input type="password" name="old_pass" placeholder="old password">
                    <p>New Password</p>
                    <input type="password" name="new_pass1" placeholder="new password">
                    <p>Confirm Password</p>
					<input type="password" name="new_pass2" placeholder="confirm password">
                    <p></p>
                    
                    {% if old_pass_wrong %}
                    <p>oops! your old password is wrong</p>
                    {% endif %}
                    {% if pass_mismatch %}
                    <p>passwords doesnot match</p>
                    {% endif %}
					<button class="cng-pass-btn" type="submit" name="" value= "change password">Change Password</button>
                </form>
                {% if pass_changed %}
                    <p>you have succcesfully changed password</p>
                    <button onclick="location.href='{% url 'login' %}' ">Home</button>
                    {% endif %}
                
			</div>
		</div>
		</div>
{% endblock %}
